* {
    font-family: 'Arial', 'Helvetica Nue', Helvetica, sans-serif;
}
body {
    width: 960px;
    height: 100%;
    margin: 0 auto 0 auto;
}
#about {
    float: left;
    position: relative;
    text-align: right;
    width: 536px;
    height:20px;
    padding:20px;
    background:#cccccc;
}

#namebox {
    position: absolute;
    top: 0px;
    left:120px;
    text-align: center;
    width: 100px;
    height:20px;
    padding:20px;
    background: #4aaaa5;
}

#Portfolio {
    float: left;
    text-align: center;
    width:104px;
    height:20px;
    padding:20px;
    background:#cccccc;
}

#contact {
    float: left;
    text-align: left;
    width:200px;
    height:20px;
    padding:20px;
    background:#cccccc;
}

#Middle {
    position: relative;
    top:60px;
    height:500px;
    width:960px;
    background: blue;
}

#aboutmebox {
    position: absolute;
    top:60px;
    left:120px;
    height: 360px;
    width:720px;
    background: grey;
}

#abouttop {
    height:80px;
    width:720px;
    background: darkmagenta;
}

#abouttext {
    width:720px;
    position:absolute;
    top:80px;
    bottom:0;
    background: darkorchid;

}
    

footer {
        height: 30px;
        background:red;    
}